
@{
    ViewBag.Title = "Index";
}


<div style="margin: auto">
    <h2 style="text-align:center" >Portal Turistico El Salvador Tu Mejor Opcion</h2>
    <img style="width: 1150px" src="~/Content/imagenes/My Post.png" />
    <br />
    <p style="text-align:center">
        El turismo constituye uno de los mayores recursos para el desarrollo económico de El Salvador. A los excelentes atractivos naturales que posee el país, con playas paradisíacas, un clima tropical benigno y paisajes exuberantes, se une un importante patrimonio arqueológico y ecológico, con vestigios coloniales y precolombinos, además de reservas nacionales.

        Sin embargo, en las últimas décadas, la diversidad y el equilibrio ecológico del país han sufrido el duro impacto del urbanismo, la contaminación y la solución; la creciente concentración de la población en las áreas urbanas ha llevado a un mayor aglutinamiento de la población en las regiones Sur y Occidental del país (especialmente en el Área Metropolitana de San Salvador). Estas zonas constituyen un ecosistema frágil, ya que en ellas se canalizan y se alimentan los acuíferos del corredor sur del país, limitando la capacidad de abastecimiento de agua a partir de las fuentes subterráneas.
    </p>
</div>


